.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}
#name{
  color:white;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-variant-ligatures: normal;
  font-size: 2rem;
  letter-spacing: 1px;
}
#title{
  color:white;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-variant-ligatures: normal;
  font-size: 2rem;
  letter-spacing: 1px;
}
#header-font{
  color:rgb(7, 7, 7);
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-variant-ligatures: normal;
  font-size: 2rem;
  letter-spacing: 1px;
}
#app-font{
  color:rgb(7, 7, 7);
  margin: 0 auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: oblique;
  font-weight: 300;
  font-variant-ligatures: normal;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 40px 0px 20px 0px;
}
h4{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}
html{
  background-color: rgb(255, 255, 255);
}
#links{
  display: flex;
  justify-content: space-evenly;
}
#about-section{
  padding:0px 150px;
}
#about-p{
  font-size:28px;
  font-family: 'Courier New', monospace;
  font-weight: 500;
}
#click-bar{
  height:25px;
  width: 10px;
  margin-bottom: -4px;
  margin-left: -3px;
}
#nav{
  background-color: rgb(0, 0, 0);
  padding-top: 25px;
  padding-bottom: 30px;
  /* box-shadow: 10px 5px 10px 0px rgb(42, 42, 42); */
}
#home{
  padding-top: 60px;
  padding-bottom: 100px
}
a{
  text-decoration: none;
}
#nav-home-font{
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 300;
  transition: 500ms;
  padding: 30px 10px 20px 10px;
}
#nav-home-font:hover{
  font-size: 30px;
  transition: 500ms;
  padding: 25px 2px 5px 5px;
}
#nav-projects-font{
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 300;
  transition: 500ms;
  padding: 30px 10px 20px 10px;
}
#nav-projects-font:hover{
  font-size: 30px;
  transition: 500ms;
  padding: 25px 2px 5px 2px;
}
#nav-resume-font{
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 300;
  transition: 500ms;
  padding: 30px 10px 20px 10px;
}
#nav-resume-font:hover{
  font-size: 30px;
  transition: 500ms;
  padding: 25px 1px 5px 2px;
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 8.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 0px 10px 5px rgb(92, 92, 92);
}
#text-footer{
  font-size: 15px; 
  color:black;
}
.footer-linkedin{
  height: 40px;
  width:40px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  transition: 500ms;
}
.footer-linkedin:hover{
  transition: 500ms;
  height: 50px;
  width: 50px;
  padding: 5px 5px 5px 5px
}
.footer-github{
  height: 40px;
  width:40px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  transition: 500ms;
}
.footer-github:hover{
  transition: 500ms;
  height: 50px;
  width: 50px;
  padding: 5px 5px 5px 5px
}
#footer-tags{
  display: flex;
  justify-content:space-evenly;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}
.app-link{
  size:10px;
  margin:auto;
}
#project-display{
  display: grid;
  text-align: center;
  justify-content: center;
}
.projects{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 10px 40px 50px;
  box-shadow: 0px 0px 20px 1px rgb(74, 74, 74);
  margin-bottom: 20px;
  border-radius: 5px;
}
#top-project{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 60px 40px 50px;
  box-shadow: 0px 0px 20px 1px rgb(74, 74, 74);
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
}
#bottom-project{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 60px 40px 50px;
  box-shadow: 0px 0px 20px 1px rgb(74, 74, 74);
  margin: 0px 0px 50px 0px;
  border-radius: 5px;
}
#img{
  height: 250px;
  width: 500px;
  margin: auto;
  border-radius: 10px;
}
.link{
  margin: 20px 0px 20px 0px;
}
.img-link{
  margin:0px 50px 82px 50px
}

@media (max-height: 931px){
  footer {
    position:relative;
  }
}

@media (max-width: 1370px){
  #about-p{
    font-size: 25px;
    padding: 0px 20px 0px 20px
  }
  #about-section{
    padding:0px 0px;
  }

  #img{
    height: 200px;
    width: 350px;
  }
  .projects{
    display: grid;
    grid-template-columns: 1fr;
    padding:100px;
    margin:25px 100px 50px 100px
  }
  #bottom-project{
    display: grid;
    grid-template-columns: 1fr;
    padding:100px;  
    margin:25px 100px 100px 100px

  }
  #top-project{
    display: grid;
    grid-template-columns: 1fr;
    padding:100px;
    margin:0px 100px 25px 100px;
  }
  footer {
    position:absolute;
  }
  .img-link{
    margin:0px 125px 82px 125px
  }
}
@media (max-width: 615px){
  .projects{
    margin:25px 900px 50px 900px;
    padding:80px 60px 30px 60px;
  }
  #bottom-project{
    margin:25px 900px 50px 900px;
    padding:80px 60px 30px 60px;

  }
  #top-project{
    margin:25px 900px 50px 900px;
    padding:80px 60px 30px 60px;
  }
  #img{
    height: 220px;
    width: 350px;
    margin: -60px -40px 0px -40px;
  }
  #about-p{
    font-size: 20px;
    padding: 0px 20px 0px 20px
  }
  #click-bar{
    height:18px;
    margin-bottom: -3px;
    margin-left: -4px;
  }
}
.link-button{
  border-radius: 20px;
  border-color: black;
  background-color: rgb(204, 204, 204);
}
.live-site{
  color:black;
  margin:1px;

}
@media (max-height: 931px) and (max-width: 1370px){
  #about-p{
    font-size: 25px;
    padding: 0px 20px 0px 20px
  }
  #img{
    height: 200px;
    width: 350px;
  }
  .projects{
    display: grid;
    grid-template-columns: 1fr;
    padding:100px;
    margin:25px 100px 50px 100px
  }
  #bottom-project{
    display: grid;
    grid-template-columns: 1fr;
    padding:100px;  
    margin:25px 100px 100px 100px

  }
  #top-project{
    display: grid;
    grid-template-columns: 1fr;
    padding:100px;
    margin:0px 100px 25px 100px;
  }
  footer {
    position:relative;
  }
  .img-link{
    margin:0px 125px 82px 125px
  }
}

@media (max-height: 931px) and (max-width: 615px){
  .projects{
    margin:25px 900px 50px 900px;
    padding:80px 60px 30px 60px;
  }
  #bottom-project{
    margin:25px 900px 50px 900px;
    padding:80px 60px 30px 60px;

  }
  #top-project{
    margin:25px 900px 50px 900px;
    padding:80px 60px 30px 60px;
  }
  #img{
    height: 220px;
    width: 350px;
    margin: -60px -40px 0px -40px;
  }
  #about-p{
    font-size: 20px;
    padding: 0px 20px 0px 20px
  }
  footer {
    position:relative;
  }
}